.loging-popup{
    position: absolute;
    z-index: 1000000;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.169);
    display: grid;
}

.login-popup-container{
    place-self: center;
    width: max(23vw,34rem);
    display: flex;
    flex-direction: column;
    background-color: var(--body-background-color);
    gap: 2.5rem;
    border-radius: .8rem;
    color: var(--font-gray-color);
    padding: 2.5rem 3rem;
    font-size: 1.4rem;
    animation: fadein .5s;
}

.login-popup-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.login-popup-title img{
    width: 1.7rem;
    cursor: pointer;
}

.login-popup-title img:hover{
    animation: tilt .5s;
}

.login-poopup-inputs{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.login-poopup-inputs input{
    border: .1rem solid rgb(194, 194, 194);
    padding: 1rem;
    border-radius: .3rem;
}

.login-popup-container button{
padding: 1rem;
font-size: 1.7rem;
color: var(--main-color);
border: .1rem solid var(--main-color);
border-radius: .4rem;
background-color: var(--body-background-color);
cursor: pointer;
}

.login-popup-container button:hover{
    color: var(--secondary-font-color);
    background-color: var(--main-color);
    }

.login-popup-condition{
    display: flex;
    gap: 1rem;
    align-items: start;
    margin-top: -1.5rem;
}

.login-popup-condition input{
    margin-top: .5rem;
}

.login-popup-container p{
    text-align: center;
}

.login-popup-container p span{
    color: var(--main-color);
    cursor: pointer;
}


.login-popup-condition p{
    text-align: initial;
}

















